In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
import sklearn
df = pd.read_csv("https://raw.githubusercontent.com/sachinmotwani20/NPTEL-ML_Datasets/main/food_prices_ind.csv")
df.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,15-01-1994,Delhi,Delhi,Delhi,28.67,77.22,cereals and tubers,Rice,KG,actual,Retail,INR,8.0,0.2545
1,15-01-1994,Delhi,Delhi,Delhi,28.67,77.22,cereals and tubers,Wheat,KG,actual,Retail,INR,5.0,0.1590
2,15-01-1994,Delhi,Delhi,Delhi,28.67,77.22,miscellaneous food,Sugar,KG,actual,Retail,INR,13.5,0.4294
3,15-01-1994,Delhi,Delhi,Delhi,28.67,77.22,oil and fats,Oil (mustard),KG,actual,Retail,INR,31.0,0.9860
4,15-01-1994,Gujarat,Ahmadabad,Ahmedabad,23.03,72.62,cereals and tubers,Rice,KG,actual,Retail,INR,6.8,0.2163

In [2]:
import pandas as pd

# Assuming you have the data in a DataFrame named 'df'

# Create an empty list to store common values
common_values = []

# Iterate through the DataFrame rows
for i, row1 in df.iterrows():
    common_in_row = [i]

    # Compare this row with other rows
    for j, row2 in df.iterrows():
        if i == j:
            continue  # Skip self-comparison
        common_cols = (row1 == row2)  # Check if columns are identical
        if common_cols.all():
            common_in_row.append(j)

    if len(common_in_row) > 1:  # If there are common values in this row
        common_values.append(common_in_row)

# Print rows with common values
for common_group in common_values:
    print("Common values in rows:", common_group)
    for i in common_group:
        print(df.iloc[i])
    print()

ERROR! Session/line number was not unique in database. History logging moved to new session 65

KeyboardInterrupt

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
features = df.iloc[:, :-1]
predictions = df.iloc[:, -1]

In [ ]:

features.head()

In [ ]:
predictions.head()

In [ ]:
features.describe()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Assuming you have the data in a DataFrame named 'df'
data_to_scale = df[['latitude', 'longitude', 'price']]

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the data
scaled_data = scaler.fit_transform(data_to_scale)

# Create a new DataFrame with scaled data
scaled_df = pd.DataFrame(scaled_data, columns=['scaled_latitude', 'scaled_longitude', 'scaled_price'])

# Display the first few rows of the scaled DataFrame
print(scaled_df.head(10))

In [ ]:
scaled_df.describe()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(scaled_df, predictions, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
Train_df = pd.concat([X_train, y_train], axis = 'columns') 
Train_df.head()

In [ ]:
Train_df.describe()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Assuming you have the data in a DataFrame named 'df'
data_to_scale = df[['latitude', 'longitude', 'price', 'usdprice']]

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the data
scaled_data = scaler.fit_transform(data_to_scale)

# Create a new DataFrame with scaled data
scaled_df = pd.DataFrame(scaled_data, columns=['scaled_latitude', 'scaled_longitude', 'scaled_price', 'scaled_usdprice'])

# Display the first few rows of the scaled DataFrame
print(scaled_df.head())